.blog
{
    width: 100%;
}
.blog .banner_box
{
    max-width: 100%;
    height: 420px;
    overflow: hidden;
}
.blog .top_banner
{
    max-width: 100%;
    height: 100%;
    background: url("http://localhost:3000/images/about/subbanner-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.blog .top_banner .contant
{
    background-color: rgba(000, 000, 000, 0.4);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
}
.blog .top_banner .contant .contant_box
{
    padding-left: 120px;
}
.blog .top_banner .contant .contant_box h5
{
    color: aliceblue;
    font-weight: 600;
}
.blog .top_banner .contant .contant_box h2
{
    color: aliceblue;
    font-weight: 600;
    font-size: 40px;
}
.blog .contant_container
{
    width: 100%;
    background-color: #f7f8fa;
}
.blog .contant_container .containar
{
    width: 100%;
    padding: 100px;
}
.blog .contant_container .containar .content
{
    text-align: center;
}
.blog .contant_container .containar .content h6
{
    color: #b76209;
    font-weight: 600;
}
.blog .contant_container .containar .content h2
{
    font-weight: 600;
}
.blog .contant_container .containar .box_container
{
    width: 100%;
}
