.event
{
    width: 100%;
}
.event .banner_box
{
    max-width: 100%;
    height: 420px;
    overflow: hidden;
}
.event .top_banner
{
    max-width: 100%;
    height: 100%;
    background: url("http://localhost:3000/images/about/subbanner-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.event .top_banner .contant
{
    background-color: rgba(000, 000, 000, 0.4);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
}
.event .top_banner .contant .contant_box
{
    padding-left: 120px;
}
.event .top_banner .contant .contant_box h5
{
    color: aliceblue;
    font-weight: 600;
}
.event .top_banner .contant .contant_box h2
{
    color: aliceblue;
    font-weight: 600;
    font-size: 40px;
}

.event .port_container
{
    background-color: #f5f2f0;
    padding: 100px;
}
.event .port_container .content
{
    /* padding-left: 300px;
    padding-right: 300px; */
}
.event .port_container .content h6
{
    text-align: center;
    color: #DE8E39;
    font-weight: 600;
}
.event .port_container .content h1
{
    text-align: center;
    font-weight: 600;
}
.event .port_container .bann_box
{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 100%;
    justify-content: center;
}
.event .port_container .bann_box .box_1
{
    width: 257px;
    height: 340px;
    background-color: #e19648;
    margin: 15px;
    background: url("http://localhost:3000/images/event-4-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.event .port_container .bann_box .box_2
{
    width: 257px;
    height: 340px;
    background-color: #e19648;
    margin: 15px;
    background: url("http://localhost:3000/images/event-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.event .port_container .bann_box .box_3
{
    width: 257px;
    height: 340px;
    background-color: #e19648;
    margin: 15px;
    background: url("http://localhost:3000/images/event-2-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.event .port_container .bann_box .box_4
{
    width: 257px;
    height: 340px;
    background-color: #e19648;
    margin: 15px;
    background: url("http://localhost:3000/images/event-1-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.box_cover
{
    background-color: rgb(222,141,56,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end; 
    padding: 25px;

}
.box_cover:hover
{
    background-color: rgb(183,98,9,0);
    transition: 1s;
}
.box_cover .contant_box h4
{
    color: #fff;
    font-size: 20px;
    font-weight: 600;

}
.box_cover .contant_box p
{
    color: #fff;
    font-weight: 600;
    font-size: 13;
    background-color: rgba(000, 000, 000, 0.7);
    padding: 0;
    margin: 0;
    display: none;
}
.box_cover:hover .contant_box p
{
    display: inline-block;
    transition: 1s;

}
.box_cover:hover .contant_box h4
{
    background-color: rgb(183,98,9,0.6);
    transition: 1s;
}
