.footer
{
    padding-top: 50px;
}

.footer_box h5{
    color: #de8d38;
    border-bottom: 3px solid #de8d38;
    display: inline;
    padding-bottom: 5px;
}
.footer_box p{
    color: #999999;
}
.footer_box ul li {
    list-style: none;
    color: #999999;
    /* text-align: left; */
}
.footer_box .btn_box input{
    width: 100%;
    background-color: #ededed;
    
    padding: 10px;
    border-radius: 5px;
    border: none;

}
.footer_box .btn_box button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #de8d38;
    border: none;
    color: aliceblue;
    font-weight: 600;
    margin-top: 20px;


}