*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header 
{
    width: 100%;
    background-color: #DE8E39;
    /* padding: 5px; */
    height: 50px;
    align-items: center;
    display: flex;
}
.header .container 
{
    display: flex;
    align-items: center;
}
.header .container .contact_box
{
    width: 70%;
    display: flex;
}
.header .container .contact_box .contact
{
    display: flex;
    color: #fff;
    margin-left: 100px;
}
.header .container .contact_box .contact .icon
{
    font-size: 17xpx;
    margin-right: 5px;
    display: flex;
}
.header .container .contact_box .contact h4
{
    font-size: 15px;
    font-weight: 300;
}
.header .container .icon_container
{
    width: 30%;
}
.header .container .icon_container .icon_box
{
    display: flex;
    align-content: center;
}
.header .container .icon_container .icon_box .icon
{
    font-size: 30px;
    margin-left: 8px;
    background-color: #fff;
    display: flex;
    border: none;
    border-radius: 5px;
}



