.services
{
    width: 100%;
}
.services .banner_box
{
    max-width: 100%;
    height: 420px;
    overflow: hidden;
}
.services .top_banner
{
    max-width: 100%;
    height: 100%;
    background: url("http://localhost:3000/images/about/subbanner-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.services .top_banner .contant
{
    background-color: rgba(000, 000, 000, 0.4);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
}
.services .top_banner .contant .contant_box
{
    padding-left: 120px;
}
.services .top_banner .contant .contant_box h5
{
    color: aliceblue;
    font-weight: 600;
}
.services .top_banner .contant .contant_box h2
{
    color: aliceblue;
    font-weight: 600;
    font-size: 40px;
}
.services .servic_container
{
    width: 100%;
}
.services .servic_container .heading
{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.services .servic_container .heading .heading_box
{
    text-align: center;
}
.services .servic_container .heading .heading_box p
{
    color: #DE8E39;
    font-weight: 700;
}
.services .servic_container .heading .heading_box h1
{
    font-weight: 700;
}
.services .servic_container .heading .container
{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.services .servic_container .heading .container .service_box
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
.services .servic_container .heading .container .service_box .box
{
    background-color: #fff5eb;  
    height: 350px;
    width: 300px;
    margin: 15px;
    border-radius: 5PX;
    padding: 40px;
}
.services .servic_container .heading .container .service_box .box .img_box
{
    background-color: #ffd2a4;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.services .servic_container .heading .container .service_box .box .img_box img
{
    width: 50px;
    height: 50px;
}
.services .servic_container .heading .container .service_box .box h4
{
    font-weight: 500;
}
.services .servic_container .heading .container .service_box .box p
{
    font-size: 15px;
    color: #595754;
    
}
.services .servic_container .heading .container .service_box .box span
{
    color: #e19648;
    font-weight: 600;
    cursor: pointer;
}